html {
    background-color: #EF233C;
    text-align: center;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: #edf2f4;
    font-family: sans-serif;
    /* border: 2px solid red; */
}

button{
    background-color: #2b2d42;
    border-radius: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    display: flex;
    flex-direction: column;
    
    margin-top: 10px;
}
.controls button{
   margin: 10px
}
.selected{
    background-color: #8D99AE;
}

.header {
    padding: 5vh;
}

.grid-container {
    width: 50vw;
    height: 50vw;
    display: grid;
    border: 2px solid black;
}

.grid-item {
    border: 1px solid #dcdcdc66;
    background-color: white;
}

.grid-tem-hover {
    background-color: black;
}


